:root {
--black: #000000;
--violet: #7D39EB;
--lime: #C6FF33;
--white: #FFFFFF;
}

[data-theme="light"] {
  --black: #ffffff;
  --white: #111111;
  --gray: #f2f2f2;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--black);
  color: var(--white);
  font-family: "Inter", sans-serif;
}
@media (max-width: 768px) {
  .hero {
    padding: 30px;
    text-align: center;
  }

  .navbar ul {
    display: none;
  }
}
section {
  padding: 120px 80px;
}

body {
  background: #000;
  color: #fff;
  font-family: "Inter", system-ui, sans-serif;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 10px;
}
