.projects {
  padding: 140px 100px;
}

.projects h2 {
  font-size: 64px;
  margin-bottom: 80px;
}

.project-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  margin-bottom: 120px;
}

.project-card img {
  width: 100%;
  border-radius: 20px;
  transition: transform 0.5s ease;
}

.project-card:hover img {
  transform: scale(1.04);
}

.project-content h3 {
  font-size: 36px;
  margin-bottom: 16px;
}

.project-content p {
  color: #aaa;
  margin-bottom: 32px;
}

.project-actions {
  display: flex;
  gap: 16px;
}

.project-actions {
  display: flex;
  align-items: center;
  gap: 16px; /* space between View & Live */
  margin-bottom: 24px;
}

/* View button */
.view-btn {
  padding: 10px 20px;
  border: 1px solid var(--lime);
  border-radius: 8px;
  color: var(--lime);
  text-decoration: none;
  font-size: 14px;
  transition: all 0.3s ease;
}

.view-btn:hover {
  background: var(--lime);
  color: var(--black);
}
@media (max-width: 768px) {
  .project-card {
    grid-template-columns: 1fr;
  }

  .projects {
    padding: 100px 24px;
  }
}
img {
  max-width: 100%;
  height: auto;
}
